controller/schemata/vci/vciLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
File: vciLog.xsd (XML Schema) 
Author: Sonja.Vrcic@nrc.gc.ca
Copyright:  National Research Council of Canada and Associated Universities Inc., 2010, 2011, 2012, 2013
Version of the protocol: As specified in the VCI Protocol Specification,  Widar Document A25201N0000 Revision 3.5, 
Target namespace has been defined for VCI schemata. Additional changes are due as result of the VCI review.
Description: VCI Log

$Date: 2008-07-22 10:09:56 -0700 (Tue, 22 Jul 2008) $
$Revision: 2161 $
-->
<xs:schema targetNamespace="http://www.nrc.ca/namespaces/widar" 
	   xmlns:widar="http://www.nrc.ca/namespaces/widar" 
	   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	   elementFormDefault="qualified">
  <!-- Includes WidarCommon.xsd schema definition -->
  <xs:include schemaLocation="../widarCommon.xsd"/>
  <xs:element name="vciLog">
    <xs:annotation>
      <xs:documentation>
	VCI Log atttributes: 
	time stamp  - time when the vciLog message was generated by the MCCC.
	message ID  - identifier, a positive integer. Unique identifier of the Log message.
	level - priority
	descriptor - values: instanct, active, terminate, change
	code - identifier of the type of event. 
	Elements:
	originator - the component which generated the log.
	affected component - the component which is the source of the event.
	E.g. in the case of crash or overheating. 
	In some cases the affected component is the originator,
	if that is the case, it is not necessary to identify affected component.
	description - a textual description of the event. IOptional, if not specified,
	operator or alarm analyser tool may use even code to find decription in a 
	off-line repository (TBD).
	property - the property (properties) of the affected component whose status needs attention.
	throwable - a description of Java exception (event), usful when reporting software events.
	vciLog - In some cases it may be useful to include previously generated log message.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:originator"/>
	<xs:element ref="widar:affectedComponent" minOccurs="0"/>
	<xs:element ref="widar:description" minOccurs="0"/>
	<xs:element ref="widar:property" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:trowable" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="level" type="widar:LogLevelType" use="required"/>
      <xs:attribute name="code" type="xs:string" use="required"/>
      <xs:attribute name="descriptor" type="widar:LogDescriptorType" use="optional"/>
      <xs:attribute name="timeStamp" type="xs:dateTime" use="required"/>
      <xs:attribute name="msgId" type="xs:int" use="required"/>
      <xs:attribute name="logger" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="description" type="xs:string"/>
</xs:schema>
