controller/schemata/vci/vciResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://www.nrc.ca/namespaces/widar" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:widar="http://www.nrc.ca/namespaces/widar" elementFormDefault="qualified">
  <!-- 
       
       File: vciResponse.xsd (XML Schema) 
       Author: Sonja.Vrcic@nrc.gc.ca
       Copyright:  National Research Council of Canada and Associated Universities Inc., 2010, 2011, 201, 2013
       Description: VCI Response. Messages generated by the  WIDAR Correlator MCCC.
       Version of the protocol: As specified in the VCI Protocol Specification,  Widar Document A25201N0000 Revision 3.15, 
       Last update::
       $Id: vciResponse.xsd 6728 2015-02-06 18:51:35Z kryan $
       $Date: 2015-02-06 11:51:35 -0700 (Fri, 06 Feb 2015) $
       $Revision: 6728 $
  -->	
  <xs:include schemaLocation="vciLog.xsd"/>
  <xs:include schemaLocation="vciCommon.xsd"/>
  <xs:include schemaLocation="vciRequest.xsd"/>
  
  <xs:element name="vciResponse">
    <xs:annotation>
      <xs:documentation>
	Defines the format and content of the VCI messages generated by the WIDAR Correlator MCCC.
	VCI Response messages may be direct or indirect responses to previously received requests.	
	VCI  Response is an "envelope" element. A single vciResonse may contain several different messages.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:vciAck" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciNack" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciAccept" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciReject" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:activationReport" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciReport" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:cmMonitorControl"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="widar:vciCommonMsgAttributes"/>
      <xs:attribute  	   name="alertId"  type="xs:string" use="optional" default="" />
    </xs:complexType>
  </xs:element>
  <xs:element name="vciAck">
    <xs:annotation>
      <xs:documentation>
	VCI Acknowledgement message (VciAck)  is a direct response to a received VCI message, it confirms that:
	a) VCI message has ben successfully received
	b) received VCI message has passed inital semantic checks and is considered acceptable.
	A VciAck message does not guarantee that the specified configuration will be activated.
	When the configuration triger is received, MCCC will perform additional checks, 
	the configuration may be rejected if those checks fail.
	The VciAck message may include comments/warnings.
	The format of comments / warnings is the same as in mcccLog.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:refMessage" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="report" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="comment" type="widar:MsgCommentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="widar:vciCommonMsgAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vciNack">
    <xs:annotation>
      <xs:documentation>
	VCI Negative Acknowledgement (VciNack) message is generated
	as a direct response to a  received VCI message.
	a) It informs originator that the VCI message has been received
	b) The received VCI message failed at least one of the checks and is not considered acceptable.  
	c) An action or a configuration change specified in the message will not be performed. 
	The reason for rejecton is specified as a log or as a comment. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:refMessage" minOccurs="0"/>
	<xs:element name="report" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="comment" type="widar:MsgCommentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="widar:vciCommonMsgAttributes"/>
      <xs:attribute  	   name="alertId"  type="xs:string"   use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="refMessage">
    <xs:annotation>
      <xs:documentation>
	Used to reference messages received by the MCCC,  used in Ack, Nack, Response, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:vciRequest" 			minOccurs="0" maxOccurs="unbounded" />
	<xs:element ref="widar:stationHw" 			minOccurs="0" maxOccurs="unbounded" />
	<xs:element ref="widar:subArray" 			minOccurs="0" maxOccurs="unbounded" />
	<xs:element ref="widar:activationTrigger" 	minOccurs="0" maxOccurs="unbounded" />
	<xs:element ref="widar:component" 			minOccurs="0" maxOccurs="unbounded" />
	<xs:element ref="widar:cmMonitorControl" 	minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:int" use="optional"/>
      <xs:attribute name="tag" type="xs:string" use="optional"/>
      <xs:attribute name="activationId" type="xs:string" use="optional"/>
      <xs:attribute name="activationTime" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vciAccept">
    <xs:annotation>
      <xs:documentation>
	VCI Accept is send to the originator of the Activation Trigger. 
	VCI Accept is used to inform the originator that:
	1) mapping has been (more or less) successfully performed
	2) configuration will be activated (at least part of it)
	3) if problems have been detected, the message includes the list of
	problems (logs).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:refMessage" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="report" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="comment" type="widar:MsgCommentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup 	ref="widar:vciCommonMsgAttributes"/>
      <xs:attribute	 	name="actTime" type="xs:dateTime" use="optional"/>
      <xs:attribute 		name="notaBene" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vciReject">
    <xs:annotation>
      <xs:documentation>
	VCI Accept is send to the originator of the Activation Trigger. 
	VCI Reject message is generated to inform user that "mapping"
	has failed and the configuration will not be activated. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:refMessage" minOccurs="0"/>
	<xs:element name="report" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="comment" type="widar:MsgCommentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup 	ref="widar:vciCommonMsgAttributes"/>
      <xs:attribute	 	name="actTime"  type="xs:dateTime" use="optional" />
      <xs:attribute  		name="alertId"  type="xs:string"   use="optional" />
      <xs:attribute  		name="notaBene" type="xs:string"   use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="activationReport">
    <xs:annotation>
      <xs:documentation>
	VCI Activation Report is used to inform the originator whether configuration was accepted by the CMIbs and CBE.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:refMessage" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="report" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="comment" type="widar:MsgCommentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="widar:vciCommonMsgAttributes"/>
      <xs:attribute name="forActTime" type="xs:dateTime" use="optional"/>
      <xs:attribute name="notaBene" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vciReport">
    <xs:annotation>
      <xs:documentation>
	VCI Activation Report is used to inform the originator whether configuration was accepted by the CMIBs and CBE.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="widar:refMessage" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="report" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="widar:vciLog" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element name="comment" type="widar:MsgCommentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="widar:vciCommonMsgAttributes"/>
      <xs:attribute name="forActTime" type="xs:dateTime" use="optional"/>
      <xs:attribute name="notaBene" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
